<nav class="navbar navbar-expand-lg center-nav navbar-dark transparent ">
    <div class="container flex-lg-row flex-nowrap align-items-center">
      <div class="navbar-brand w-100">
        <a href="/">
          <img src="/sandbox/img/logo.png" srcset="/sandbox/img/logo@2x.png 2x" alt="" class="logo-light w-50"/>
          <img class="logo-dark w-50" src="/sandbox/img/logo-dark.png" srcset="/sandbox/img/logo-dark@2x.png 2x" alt="">
        </a>
      </div>
      <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
        <div class="offcanvas-header d-lg-none">
          <a href="/"><img src="/sandbox/img/logo-light.png" srcset="/sandbox/img/logo-light@2x.png 2x" alt="" /></a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav">
                {{ nav:main_nav }}
                    {{ if children }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ is_current || is_parent ?= 'active' }}" href="{{ url ?: '#' }}" id="navDropdown{{ id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ title }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navDropdown{{ id }}">
                                {{ children }}
                                    {{ if children }}
                                        <li class="dropdown-submenu dropend">
                                            <a class="dropdown-item dropdown-toggle" href="{{ url ?: '#' }}" data-bs-toggle="dropdown">{{ title }}</a>
                                            <ul class="dropdown-menu">
                                                {{ children }}
                                                    <li><a class="dropdown-item {{ is_current || is_parent ?= 'active' }}" href="{{ url }}">{{ title }}</a></li>
                                                {{ /children }}
                                            </ul>
                                        </li>
                                    {{ else }}
                                        <li><a class="dropdown-item {{ is_current || is_parent ?= 'active' }}" href="{{ url }}">{{ title }}</a></li>
                                    {{ /if }}
                                {{ /children }}
                            </ul>
                        </li>
                    {{ else }}
                        <li class="nav-item">
                            <a class="nav-link {{ is_current || is_parent ?= 'active' }}" href="{{ url }}">{{ title }}</a>
                        </li>
                    {{ /if }}
                {{ /nav:main_nav }}
            </ul>
            
          <!-- /.navbar-nav -->
          <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
            <a href="mailto:first.last@email.com" class="link-inverse">info@email.com</a>
            <br /> 00 (123) 456 78 90 <br />
            <nav class="nav social social-white mt-4">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /offcanvas-nav-other -->
        </div>
        <!-- /.offcanvas-body -->
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other w-100 d-flex ms-auto">
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <li class="nav-item dropdown language-select text-uppercase">
            <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">En</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="dropdown-item" href="#">En</a></li>
              <li class="nav-item"><a class="dropdown-item" href="#">De</a></li>
              <li class="nav-item"><a class="dropdown-item" href="#">Es</a></li>
            </ul>
          </li>
          <li class="nav-item d-none d-md-block">
            <a href="./contact.html" class="btn btn-sm btn-primary rounded-pill">Contact</a>
          </li>
          <li class="nav-item d-lg-none">
            <button class="hamburger offcanvas-nav-btn"><span></span></button>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->