<section class="wrapper bg-light">
    <div class="overflow-hidden">
      <div class="container py-14 py-md-16">
        <div class="row">
          <div class="col-xl-7 col-xxl-6 mx-auto text-center">
            <i class="icn-flower text-leaf fs-30 opacity-25"></i>
            <h2 class="display-5 text-center mt-2 mb-10">Here are the latest posts from my blog that grabbed the most attention.</h2>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="swiper-container nav-bottom nav-color mb-14" data-margin="30" data-dots="false" data-nav="true" data-items-lg="3" data-items-md="2" data-items-xs="1">
          <div class="swiper overflow-visible pb-2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b12.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Wedding</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Ligula tristique quis risus</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>14 Apr 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>4</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b13.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Engagement</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Nullam id dolor elit id nibh</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>29 Mar 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b14.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Couples</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Ultricies fusce porta elit</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Feb 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>6</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b15.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Engagement</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Morbi leo risus porta eget</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>17 Jan 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b16.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Couples</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Nulla vitae elit libero</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>7 Jan 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>1</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <article>
                  <div class="card shadow-lg">
                    <figure class="card-img-top overlay overlay-1"><a href="#"> <img src="/sandbox/img/photos/b17.jpg" alt="" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body p-6">
                      <div class="post-header">
                        <div class="post-category">
                          <a href="#" class="hover" rel="category">Wedding</a>
                        </div>
                        <!-- /.post-category -->
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">Pharetra augue elit sem</a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-footer">
                        <ul class="post-meta d-flex mb-0">
                          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>2 Jan 2022</span></li>
                          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>2</a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.post-footer -->
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!--/.swiper-slide -->
            </div>
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.overflow-hidden -->
  </section>
  <!-- /section -->