<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" data-image-src="/sandbox/img/photos/bg3.jpg">
            <div class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
              <h3 class="display-6 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white">More than 5,000 people have partnered with career agents to navigate the job market confidently. Join them.</h3>
              <a href="#" class="btn btn-white rounded-pill mb-0 text-nowrap">Join Us</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->