<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <h2 class="display-4 mb-3">A Smarter, Guided Job Search</h2>
      <p class="lead fs-lg mb-8">
        <!-- We make your spending <span class="underline">stress-free</span> for you to have the perfect control. -->
        We take the work out of job searching. <br/>Sign up and get instantly matched with a pre-vetted career agent who understands your needs.
    </p>
      <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
        
        <div class="col-md-6 col-lg-3">
            <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">01</span></span>
            <h4 class="mb-1">Create Your Profile</h4>
            <p class="mb-0">Tell us about your background, goals, and the type of roles you want.</p>
          </div>
    
          <div class="col-md-6 col-lg-3">
            <span class="icon btn btn-circle btn-lg btn-primary pe-none mb-4"><span class="number">02</span></span>
            <h4 class="mb-1">Get Matched Instantly</h4>
            <p class="mb-0">We connect you with a career agent who specializes in your field and job level.</p>
          </div>
    
          <div class="col-md-6 col-lg-3">
            <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">03</span></span>
            <h4 class="mb-1">Work Together</h4>
            <p class="mb-0">They refine your CV, prepare your applications, and proactively seek opportunities on your behalf.</p>
          </div>
    
          <div class="col-md-6 col-lg-3">
            <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">04</span></span>
            <h4 class="mb-1">Secure Interviews & Offers</h4>
            <p class="mb-0">Your agent coordinates responses, helps you prep, and supports you through offer negotiations.</p>
          </div>
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->