<header id="masthead" class="site-header">

    <div class="container header-container">
        <nav id="site-navigation" class="main-navigation main-navigation-sm">
            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                <span></span><span></span><span></span><span></span>
            </button>

            <div class="menu-header-menu-container">
                <ul id="primary-menu" class="menu nav-menu">
                    <li id="menu-item-39001"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-39001">
                        <a href="/reverse-recruiting/">Reverse
                            Recruiting</a><button class="sub-menu-toggle" aria-expanded="false"
                            aria-label="more">
                            <svg width="26" height="14" viewBox="0 0 26 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.43457L13 12.4346L24.5 1.43457" stroke="currentColor"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
                        <ul class="sub-menu">
                            <li id="menu-item-71095"
                                class="highlighted menu-item menu-item-type-post_type menu-item-object-page menu-item-71095">
                                <a href="/reverse-recruiting/">Reverse
                                    Recruiting</a></li>
                            <li id="menu-item-71098"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71098">
                                <a href="/our-process/">How it works</a></li>
                            <li id="menu-item-71096"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71096">
                                <a href="/rr-reviews/">Reviews &amp;
                                    Testimonials</a></li>
                            <li id="menu-item-71097"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71097">
                                <a href="/where-our-clients-land/">Benefits</a></li>
                            <li id="menu-item-71100"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71100">
                                <a href="/rr-pricing/">Pricing &amp;
                                    Packages</a></li>
                            <li id="menu-item-72169"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72169">
                                <a href="/interview-guarantee/">Job Offer
                                    Guarantee</a></li>
                            <li id="menu-item-71099"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71099">
                                <a href="/get-started/">Get Started</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-61079"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61079"><a
                            href="/contact-us/">Insights</a></li>
                    <li id="menu-item-45796"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-45796">
                        <a href="/#">Company</a><button class="sub-menu-toggle"
                            aria-expanded="false" aria-label="more">
                            <svg width="26" height="14" viewBox="0 0 26 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.43457L13 12.4346L24.5 1.43457" stroke="currentColor"
                                    stroke-width="2"></path>
                            </svg>
                        </button>
                        <ul class="sub-menu">
                            <!-- <li id="menu-item-67129"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67129">
                                <a href="/career-coaching/">Career Coaching</a>
                            </li> -->
                            <!-- <li id="menu-item-45792"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45792">
                                <a href="/outplacement/">Outplacement</a></li> -->
                            <li id="menu-item-45794"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45794">
                                <a href="/about-us/">About Us</a></li>
                            <li id="menu-item-35067"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35067">
                                <a href="/reviews/">Reviews</a></li>
                            <li id="menu-item-45793"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45793">
                                <a href="/faq/">FAQs</a></li>
                            <li id="menu-item-34576"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34576">
                                <a href="/career-advice/">Contacts</a></li>
                        </ul>
                    </li>
                    <!-- <li id="menu-item-61079"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61079"><a
                            href="/contact-us/">Contact Us</a></li> -->
                </ul>
            </div>
        </nav><!-- #site-navigation -->

        <div class="site-branding">
            <a href="/">
                <img src="/profession/images/cvmama-logo-color.png" width="180px" height="20px"/>
            </a>
        </div>

        <nav id="site-navigation" class="main-navigation main-navigation-lg">

            <div class="menu-header-menu-container">
                <ul id="primary-menu" class="menu">
                    {{ nav:main_nav }}   

                    {{if children}}
                    <li
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
                    <a href="{{url}}">{{title}}</a><button class="sub-menu-toggle" aria-expanded="false"
                        aria-label="more">
                        <svg width="26" height="14" viewBox="0 0 26 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 1.43457L13 12.4346L24.5 1.43457" stroke="currentColor"
                                stroke-width="2"></path>
                        </svg>
                    </button>
                    <ul class="sub-menu">
                       
                                {{children}}
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71096">
                            <a href="{{url}}">{{title}}</a></li>
                            {{/children}}
                        
                    </ul>
                </li>
               
                    {{ else }}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a
                        href="{{url}}">{{title}}</a></li>
                    {{/if}}
                   
                    

                    

                    {{/nav:main_nav }}
                   
                </ul>
            </div>
        </nav><!-- #site-navigation -->

        <div class="header-login-wrap">
            <a href="/#" class="fmp-logout-button">
                <svg aria-hidden="true" width="27" height="26" viewBox="0 0 27 26" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3649 13H1.50049" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"
                        stroke-linecap="square" stroke-linejoin="round"></path>
                    <path d="M15.3521 9.94909L18.4029 12.9999L15.3521 16.0508" stroke="currentColor"
                        stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"></path>
                    <path
                        d="M7.96143 9.93578V2C7.96143 1.44771 8.40914 1 8.96143 1H24.5005C25.0528 1 25.5005 1.44772 25.5005 2V24C25.5005 24.5523 25.0528 25 24.5005 25H8.96143C8.40914 25 7.96143 24.5523 7.96143 24V16.1004"
                        stroke="#212121" stroke-width="2"></path>
                </svg>
            </a>

            <ul class="header-login-menu-sm fmp-hidden">
                <li>
                    <a href="/login/">
                        Log In </a>
                </li>

                <li>
                    <a href="/get-started/" class="solid-btn">
                        Get Started </a>
                </li>
            </ul>

            <ul class="header-login-menu">
                <li>
                    <a href="/login/" class="rr-button outline-btn"><span
                            class="btn-with-arrow">Log In<span class="arrow"><svg aria-hidden="true" width="19"
                                    height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0.5" y1="9.44489" x2="16.5" y2="9.44489" stroke="currentColor"
                                        stroke-width="2"></line>
                                    <path d="M8.5 1.01471L16.9853 9.49999L8.5 17.9853" stroke="currentColor"
                                        stroke-width="2"></path>
                                </svg>
                            </span></span></a>
                </li>

                <li>

                    <a href="/get-started/" class="rr-button solid-btn"><span
                            class="btn-with-arrow">Get Started<span class="arrow"><svg aria-hidden="true"
                                    width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0.5" y1="9.44489" x2="16.5" y2="9.44489" stroke="currentColor"
                                        stroke-width="2"></line>
                                    <path d="M8.5 1.01471L16.9853 9.49999L8.5 17.9853" stroke="currentColor"
                                        stroke-width="2"></path>
                                </svg>
                            </span></span></a>
                </li>
            </ul>
        </div>
    </div><!-- .container -->

</header>